@import "tailwindcss";

@theme {
  --color-codenest-bg: #070b0a;
  --color-codenest-green: #0000FF;
  --font-sans: "Instrument Sans", system-ui, sans-serif;
  --font-sans: "Instrument Sans", system-ui, sans-serif;
  --animate-marquee: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Instrument Sans", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
