@import "tailwindcss";

@theme {
  --color-codenest-bg: #070b0a;
  --color-codenest-green: #0000FF;
  --font-inter: "Inter", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-instrument: "Instrument Serif", serif;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
